@import '../../../styles/variables/variables';

.sort-options {
  display: flex;
  position: absolute;
  right: 0;

  &__title {
    margin-right: 20px;
    user-select: none;
  }

  &__item {
    cursor: pointer;
    margin-left: 10px;
    user-select: none;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      color: $contrast-font-color;
    }
  }

  &__item,
  &__title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__list {
    display: flex;
  }
}
