@import '../../../styles/variables/variables';

.sub-header {
  height: 40px;
  background-color: #f2f2f2;

  &__info {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }
}
