
// main colors
$main-contrast-color: #ff5565;
$clear-black-color: #010101;
$main-contrast-color-hover: #E95666;

// font colors
$main-font-color: #ffffff;
$contrast-font-color: #ff5565;

// btn
$btn-disable: #3c3c3c;
